# Auto detect text files and perform LF normalization
* text=auto

# JS files should use LF
*.js text eol=lf
*.jsx text eol=lf
*.json text eol=lf

# Shell scripts should use LF
*.sh text eol=lf

# Docker files should use LF
Dockerfile text eol=lf
*.yml text eol=lf

# Documentation
*.md text eol=lf